body {
    font-family: 'Montserrat', Arial, sans-serif text-align: center;
    background-color: #fff;
    margin: 0;
    color: #333;
}

.box-principal{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid none;
    height: 500px;
}

h1 {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: 20px;
}

h3 {
    color: #9854CB; 
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 40px;
}

.box-codigo {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

    .box-codigo h4 {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #555;
    }

.form-control {
    width: 100%;
    font-size: 1.1em;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #333;
}

    .form-control::placeholder {
        color: #aaa;
    }

.button {
    text-align: center;
}

.btn-principal {
    background-color: #9854CB;
    color: white;
    border: none;
    padding: 15px 0;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-principal:hover {
    background-color: #efe241;
}
